.ms-ant-modal {
  position: relative;
  top: 0px;
  padding: 0;
  overflow: hidden;

  .ant-modal-content {
    height: 100%;
    padding: 0;
  }

  .ant-modal-body {
    height: 100%;
    padding: 0;
  }

  .ant-modal-body {
    padding: 0;
  }
}

@media screen and (max-width: 992px) {
  .ms-ant-modal {
    width: 100% !important;
  }

  .ant-modal {
    margin: 0 !important;
    max-width: 100% !important;
  }
}