.ms-ant-modal {
  position: relative;
  top: 0px;
  padding: 0;
  width: 720px !important;
  overflow: hidden;

  .ant-modal-content {
    height: 100%;
    padding: 0;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #fff;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: #888;
    }
  }

  .ant-modal-body {
    // height: 100%;
    padding: 0;
  }

  .ant-modal-body {
    padding: 0;
  }
}
